<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Double Slider Login/Registration Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container register-container">
            <form method="post"></form>
            {% csrf_token %}
                <h1>Register here.</h1>
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <button type="submit" id="registerBtn">Register</button>
                <span>or use your account</span>
            </form>
        </div>

        <div class="form-container login-container">
            <form method="post">
                {% csrf_token %}
                <h1>Login here.</h1>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <div class="content">
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <label for="checkbox">Remember me</label>
                    </div>
                    <div class="pass-link">
                        <a href="#">Forgot Password?</a>

                    </div>
                </div>
                <button type="submit" id="loginBtn">Login</button>
        
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="title">Hello<br> Users</h1>
                    <p>If you have an account, login here.</p>
                    <button class="ghost" id="login">Login</button>
                </div>
                
                <div class="overlay-panel overlay-right">
                    <h1 class="title">Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="register">Register</button>
                </div>
            </div>
        </div>
    </div>

    {% load static %}
<script src="{% static 'js/login_signup.js' %}"></script>
</body>
</html>



