<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
</head>
<body>
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <h1>User Profile</h1>
            </div>
            <div class="profile-body">
                <div class="profile-info">
                    <img src="LOGO/user profile.png" alt="User Photo" class="profile-photo">
                    <h2 id="fullName">Anna Belle</h2>
                    <p id="email">Annabelle@example.com</p>
                    <p id="accountNumber">Account Number: 123456789</p>
                    <button id="editButton" class="btn">Edit Information</button>
                    <a href="#"></a><button type="submit" class="btn">Wallet</button>
                    <button class="btn" id="addMoneyButton">Add Money</button>
                    <button class="btn" id="withdrawMoneyButton">Withdraw Money</button>
                    <button class="btn" id="transferMoneyButton">Transfer Money</button>

                </div>
                <div class="profile-edit" style="display: none;">
                    <form id="profileForm">
                        <div class="input-group">
                            <label for="fullNameInput">Full Name</label>
                            <input type="text" id="fullNameInput" name="fullName" required>
                        </div>
                        <div class="input-group">
                            <label for="Address">Address</label>
                            <input type="text" id="AddressInput" name="fullAddress" optional>
                        </div>
                        <div class="input-group">
                            <label for="Contact Number">Contact Number</label>
                            <input type="text" id="ContactNumberInput" name="fullnumber" optional>
                        </div>

                        <div class="input-group">
                            <label for="emailInput">Email</label>
                            <input type="email" id="emailInput" name="email" required>
                        </div>
                        <button type="submit" class="btn">Update Profile</button>
                        <button type="button" id="cancelButton" class="btn btn-secondary">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
